version: "3.8"

services:
    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile.dev
        ports:
            - "5173:5173"
        volumes:
            - ./frontend:/app
            - /app/node_modules

    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        ports:
            - "8080:8080"
        environment:
            - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/monkey_d_vuvi
            - SPRING_DATASOURCE_USERNAME=admin
            - SPRING_DATASOURCE_PASSWORD=admin

    db:
        image: postgres:15-alpine
        ports:
            - "6001:5432"
        environment:
            - POSTGRES_DB=monkey_d_vuvi
            - POSTGRES_USER=admin
            - POSTGRES_PASSWORD=admin
